body {  margin: 0;   
}
.shapka {
    background-color: #2D7053;
    height: 237px;
    width: 752px;
    display: inline-block;
    margin: 0;
}   
.ramka { 
    float: left;
    display: block;
    width: 134px;
    height: 131px;
    background-color: #2D7053;
    border-width: 3px;
    display: inline-block;
    margin: 46px 0px 0px 37px;
    font-size: 33px;
    color: #FFFFFF;
          }
.circle  {
  float: left;
  display: block;
  width: 144px;
  height: 144px;
  border-radius: 72px;
  background: #FFFFFF;
  display: inline-block;
  margin: 46px 0px 0px 37px;
}
.polosa {
    float: left;
    display: block;
    display: inline-block;
    border-bottom: 15px solid  #FFFFFF;
    width: 87px;
    border-radius: 7px;
    margin: 85px 0px 0px 249px;
}
.polosa1 {
    float: left;
    display: block;
    display: inline-block;
    border-bottom: 15px solid  #FFFFFF;
    width: 87px;
    border-radius: 7px;
    margin:15px 0px 0px 249px;  ;
}
.polosa2 {
    float: left;
    display: block;
    display: inline-block;
    border-bottom: 15px solid  #FFFFFF;
    width: 87px;
    border-radius: 7px;
    margin: 15px 0px 0px 249px;
}
.foto {background: url(12345.jpeg);
    height: 470px; 
    width: 752px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:-4px 0px 0px 0px;
}
.knopka {
    width:344px ;
    height:77px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CB9223;
    font-size: 25px;
    margin: 367px 0px 0px 200px;
    float: left;
    display: block;
    display: inline-block;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}      
.foto1 {background-color: white;
    height: 350px; 
    width: 752px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;}
.psih 
    {background: url(./154-9254@1X.jpeg);
        height: 247px; 
        width: 247px;
        background-repeat: no-repeat;
        border-radius: 123px;
        background-size: cover;
        float: left;
        display: block;
        display: inline-block;
        margin: 53px 0px 0px 50px ;
}
.text1 {width: 210px;
    height: 58px;
    float: left;
    display: block;
    display: inline-block;
    font-size: 30px;
    margin: 83px 65px;

}
.text2 {width: 245px;;
    height: 50px ;
    float: left;
    display: block;
    display: inline-block;
    font-size: 22px;
    margin: -125px 363px;
}
.blok2 {background-color: white;
    height: 520px; 
    width: 752px;
    background-repeat: no-repeat;
    background-size: cover;
}
.blok3 {background-color: #888888;
    height: 156px; 
    width: 752px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
}
.circle2 {
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #FFFFFF;
    display: inline-block;
    margin: 30px -450px;
}
.text3 {width: 550px;
    height: 166px;
    float: left;
    display: block;
    display: inline-block;
    font-size: 18px;
    margin: 0px 40px;

}
.text4 {
    width: 545px;
    height: 32px;
    float: left;
    display: block;
    display: inline-block;
    font-size: 22px;
    margin: 0px 40px;
}
.text5 {
    width: 256px;
    height: 190px;
    float: left;
    display: block;
    display: inline-block;
    font-size: 17px;
    margin: 0px 0px;
}
.knopka2{
    width:344px ;
    height:77px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CB9223;
    font-size: 25px;
    margin: 200px -60px;
    float: left;
    display: block;
    display: inline-block;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
.bt1{ width: 199px;
    height: 17px;
    float: left;
    display: block;
    display: inline-block;
    font-style: arial;
    font-size: 18px;
    color: white;
    margin: 115px -226px;
    font
}
    
.bt2{ width: 144px;
    height: 17px;
    float: left;
    display: block;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin: 69px 59px;}

.bt3{ width: 140px;
    height: 15px;
    float: left;
    display: block;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin:-46px 538px;}