.blok1 {
    width: 292;
    height: 74;
    font-size: 80pt;
    text-decoration: none;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 61px 100px;
}
.blok1 span{
	color:black;
}
.logo {
    color: rgba(0, 0, 0, 255);
}

.ul1 {
    list-style: none;
    margin: 100px; 
    padding-left: 300px; 
    margin-top:25px; 
    background:#35444f; 
    height: 69px; 
    width: 1280px;
   }
.a1 {
    text-decoration: none; 
    background:#35444f; 
    color:#fff;
    padding:0px 15px;
    font-family: arial; 
    font-size: 24px;
    line-height:68px; 
    display: block; 
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;}

    .a2{
        text-decoration: none;
        color: #4bcaff;
    }
    .ul2 {
        list-style: none; 
        margin: 100px; 
        padding-left: 0px; 
        margin-top:25px; 
        height: 399px; 
        width: 344px;
        border: 1px solid black;
        float: left;
        display: block;
        display: inline-block;}
    .li2 {;
    } 
    .a3 {
        text-decoration: none; 
        color:gray;
        padding:0px 40px; 
        font-family: arial; 
        font-size: 30px;
        line-height:80px; 
        display: block;
        -moz-transition: all 0.3s 0.01s ease; 
        -o-transition: all 0.3s 0.01s ease;
        -webkit-transition: all 0.3s 0.01s ease;
     }
       .foto{
           width: 885px;
           height: 529px ;
           border: 1px solid black;
           margin: 125px 540px;
           background-image: url(./12345.jpg);
		   background-position-x: 255px;
		   background-position-y: 60px;
       }
       .blok2 {
           width:815px;
           height:114px ;
           text-align: left;
           font-size: 18px;
           font-family: Arial, Helvetica, sans-serif;
           margin: -32px 600px;
        }

    .blok3 {
        width:820px;
        height:109px ;
        text-align: left;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 80px 600px;
    }   
    
    .ul3{
        list-style: none; 
        margin: 100px; 
        padding-left: 20px; 
        
        background:#b4b7ba; 
        height: 69px; 
        width: 1280;
        
    }
    .a4 {
        text-decoration: none; 
        background:#b4b7ba; 
        color:#fff;
        padding:0px 15px; 
        text-align: left;
        font-family: arial; 
        font-size: 28pt;
        color: black;
        line-height:68px; 
        display: block; 
        -moz-transition: all 0.3s 0.01s ease;
        -o-transition: all 0.3s 0.01s ease;
        -webkit-transition: all 0.3s 0.01s ease;}

        .a5 {
            text-decoration: none; 
            background:#b4b7ba; 
            color:#fff;
            padding:0px 15px; 
            text-align: left;
            font-family: arial; 
            font-size: 28pt;
            color: black;
            line-height:68px; 
            display: block; 
            pointer-events: none;
            cursor: default;}
            
    