.container1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
     font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;   
}
.blokshapk{
    width: ;
    height: auto;
    display: flex;
    
    justify-content: safe;
    flex-direction: row-reverse;
}
.cont1{width: 77px;
    height: 77px;
    border-radius: 37px;
    background: url(./img/orno\ logo\ 1.png);
    
}
.cont2{width: 500px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #323232;
    box-sizing: border-box;
    padding-top: 12px;
     border-radius: 5px;
     color: #A1A1A1;
     text-align: left;
     margin: 0px 0px;
    }

    .pustishka{
        width: 300px;
        height: 50px;
    }
.cont3{width: 100px;
    height: 50px;
    background: #EF781A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 14px;
    
    
}
h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
}
.pin1{
    float: left;
    margin: 0px 10px;

    
}
.loop1{
    float: left;
    margin: 0px 10px;
}
.cont4{width: 100px;
    height: 50px;
    background: #00D008;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 14px;
}
.a2{
    color: white;
}
.container{
    width: 80%;
    margin: 40px auto;
}
.reklama{
    display: flex;
    flex-direction: row;
    height:380px ;
    background: #FFD086;
    border-radius: 10px;
    display: flex;
    margin: 0px 0px;
    display: flex;
}
.picca{
    
    width: 542px; ;
    height: 340px; ;
    margin: 0px 950px;
    background: url(./img/pizza.png);
    
   
  
}
.servis {
    float: left;
    width: 538px;
    height:88px ;
    margin: 80px 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: 
    #000000;
   ;

}
.servis2 {width: 456px;
    height:48px ;
    margin: 35px 0px;
    font-family: Montserrat;
     font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
    color: 
    #000000;
   }
  

    .poisk{
        display: flex;
    height: 40px;
    flex-direction: row;
    margin: 30px 0px;
    justify-content: space-between;
   
}
    .restoran{
        font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
    }
    .poiskmenu {
width: 500px;
height: 50px;
font-family: Montserrat;
font-style: normal;
font-size: 16px;
line-height: 20px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
box-sizing: border-box;
    padding-top: 14px;
 }
  
 
   
   .box{
       display: grid;
       grid-template-columns:repeat(3, 6fr);
       gap: 30px; 
       
          
   }
   
   .card1{
       display: flex;
       flex-direction: column;
     width: auto;
    border: 1px solid 
    #FFFFFF;
    
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
     
  
   }  
   .card_title{
    
    width: 174px;
    height: 29px;
    margin: 10px 10px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #000000;
   }
   .cenablok{
    display: flex;
    margin: 10px 10px;
 }
   .card_discr{
    width: 108px;
    height: 30px;
   background: url(./img/delivery\ time.png);
    border-radius: 5px;
   }
   .card_btn{
    background: url(./img/delivery\ price.png);   
    width: 89px;
    height: 30px;
    margin: 0px 15px;
     
    
    border-radius: 5px;
   }
.foorerpanel{
    width: 80% auto;
    display: flex;
    height: 117px;
    height: auto;
    background-color: #F8F4FC;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}
.foot1{
width:267px ;
height: 58px; 
background: url(./img/Terra\ Heals.png);
}
.foot2{
    width: auto;
    height: 19px;
    font-family: Raleway;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #354657;
}
.foot3{
    width: 100px;
    height: 19px;
}
.foot4{ 
    width: 700px;
    height: 19px;
    

}
.foot5{ 
    width: 100px;
    height: 19px;
    }




.card_1
{ background-image: url(./img/pic1.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}


 }
.card_2
{ background-image: url(./img/pic2.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_3
{ background-image: url(./img/pic3.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_4
{ background-image: url(./img/pic4.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_5
{ background-image: url(./img/pic5.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_6
{ background-image: url(./img/pic6.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;} 
.card_7
{ background-image: url(./img/pic7.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_8
{ background-image: url(./img/pic8.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_9
{ background-image: url(./img/pic9.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_10
{ background-image: url(./img/pic10.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_11
{ background-image: url(./img/pic11.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_12
{ background-image: url(./img/pic12.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_13
{ background-image: url(./img/pic13.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_14
{ background-image: url(./img/pic14.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_15
{ background-image: url(./img/pic15.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_16
{ background-image: url(./img/pic16.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}
.card_17
{ background-image: url(./img/pic17.png);
    height: 160px; 
    background-repeat: no-repeat;
    background-size: cover;}

.popular{
    width: 139px;
height: 39px;
background-image: url(/img/shares.png);
margin: 10px 10px;
}
.popular1{
    width: 167px;
height: 56px;
background-image: url(./img/shares\ \(1\).png);
margin: 10px 10px;
.popular2{
    width: 236px;
height: 39px;
background-image: url(./img/shares2.png);
margin: 10px 10px;
}
