:root{
  font-size: 20px;
}

body{
  background-image: url(../img/backgrund.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:Tahoma, sans-serif;
  margin: 0;
  color: white;
  max-width: 100%;
  min-width: 40%;
}
a{
  text-decoration: none;
  color: white;
}
.container{
  width: 80%;
  margin: 0 auto;
}

header{
  overflow: hidden;
  margin-bottom: 48px;
  margin-top: 49px;
}

.logo1{
  background-image: url(../img/logo1.png);
  background-repeat: no-repeat;
  background-position: left;
  color: #fff;
  float: left;
  transition: all 7ms;
}
.logomilan{
  margin-left: 59px;
  font-size: 1.4rem;
  font-weight: bold;
}

.logoholid{
  margin-left: 59px;
  font-size: 0.9rem;
  font-weight: bold;
}

.kontakt{
  float: right;
  text-align: right;
  font-size: 1.2rem;
}
main{
  overflow: hidden;
}
.card1{
  background-image: url(../img/1.png);
  background-size: cover;
  height: 250px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;}
.card2{
  background-image: url(../img/2.png);
  background-size: cover;
  height: 250px;
  position: relative;
  overflow: hidden;}
.card3{
  background-image: url(../img/3.png);
  background-size: cover;
  height: 250px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;}
.card4{
  background-image: url(../img/4.png);
  background-size: cover;
  height: 250px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;}
.card5{
  background-image: url(../img/5.png);
  background-size: cover;
  height: 250px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;}
.card6{
  background-image: url(../img/6.png);
  background-size: cover;
  height: 250px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;}
  
.bar{
  position: absolute;
  bottom: -100%;
  width: 100%;
  left: 0;
  background-color: #f26522;
  transition: 9ms ;
  padding-left: 21px;
  padding-bottom: 17px;
  padding-top: 10px;
  padding-right: 18px;
}
.from{
  font-size: 14px;
}

.price{
  float: left;
  font-size: 20px;
  margin-right: 120px;
}

.details{
  float: left;
  font-size: 0.95rem;
}

.details::after{
  content: " >";
  padding-left: 20px;
  color: #f58c59;
  font-weight: bold;
}

.text{
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}
.ftext{
  text-align: center;
  margin-top: 61px;
  font-size: 0.8rem;
}
.blok{
  float: left;
  width: 30%;
}
.blok:nth-child(2){
  margin-left: 5%;
  margin-right: 5%;
}

.blok:nth-child(4){
  margin-top: 98px;
}

.blok:nth-child(5){
  margin-top: 98px;
  margin-left: 5%;
  margin-right: 5%;
}

.blok:nth-child(6){
  margin-top: 98px;
}